body{
    margin: 0;
    background-color: white;
}
#navbar {
    background-color: black; 
}
nav{
    width:auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    position:relative;
    z-index: 1000;
}
nav h3{
    color: white;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content:space-between;
    padding-top: 0.1rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li {
    padding: 5px 20px;
}
nav ul li button{
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
    background: none;
    color: white;
}

nav ul li button:hover {
    background-color: white;
    color: black;
}

main {
    display:flex;
    justify-content: center;
    padding:2rem  0rem;
    margin: 0;
    position: relative;
    width: 100%;
}
main .content{
    height: 30rem;
    display: flex;
    align-items: center;
    width: auto;
    border-radius: 25px;
    border: 2px solid black;
}





.slide{
    height: auto;
    width: auto;
}
.slidelogin{
    position: relative;
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-radius: 20px 0px 0px 20px;
  }
  
  .slidelogin .slide{
    display: none;
  }
  
  .slidelogin .slide img{
    animation-name: fade;
    animation-duration: 2s;
  }
  .slidelogin .navigation-header{
    padding-top: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .slidelogin .navigation-header .prev, .slidelogin .navigation-header .next{
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: 2rem;
    background: rgba(0,0,0,0.2);
    transition: 0.9s ease;
  }
  
  .slidelogin .navigation-header .prev:hover, .slidelogin .navigation-header .next:hover{
    background: rgba(0,0,0,1);
  }

  
  .slidelogin .navigation-header .dot {
    text-align: center;
    padding: 10px;
    height: 30px;
    width: 60px;
    border-radius: 20%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
  .slidelogin .dot {
    margin-left: 2rem;
    margin-top: 11rem;
    background: rgba(0,0,0,0.2);
    color: white;
    text-shadow: 2px 2px 3px solid black;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.slidelogin .navigation-header .active, 
.slidelogin .navigation-header .dot:hover {
    background-color: white;
    color: black;
}

img{
    position: relative;
    margin-top: 0.4rem;
    width:45rem;
    height:30.2rem;
    border-radius: 20px 0px 0px 20px;
}
.judulformlogin{
    text-align: center;
}

.formlogin{
    padding: 1rem;
    width: auto;
}
.formlogin form{
    width: auto;
}

.formlogin form .inputformlogin{
    position: relative;
    margin-bottom: 10px;
}

.inputformlogin label {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.inputformlogin input {
    width: 95%;
    height: 1.5rem;
    padding: 0.5rem;
    border: none;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    transition: border 0.3s ease;
}

.inputformlogin input:focus {
    border-radius:0px;
    border: none;
    border-bottom: 2px solid black;
}
input:focus::placeholder{
    color: transparent;
}

.inputformlogin input:focus + label {
    display: block;
    transform: translateY(-20px);
    font-size: 12px;
}
.tombolformlogin{
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-around;
}
.tombolformlogin button{
    background-color: white;
    border: 2px solid black;
    padding: 1rem;
    width: 48%;
    border-radius: 30px;
}
.tombolformlogin button:hover{
    color: white;
    background-color: black;
    border: 2px solid black;
}

footer{
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

/* tablet */
@media (min-width:768px) and (max-width:1024px) {
    nav{
        width: auto;
        padding: 0rem 1rem;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .content{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        border: none;
        align-items: center;
        justify-content: center;
    }
    .slidelogin{
        width: auto;
        height: 15rem;
        padding-bottom: 15rem;
    }
    .slide{
        width: auto;
        height: auto;
    }
    .slidelogin .slide img{
        width: 48.6rem;
        height: 25rem;
        border-radius: 20px;
    }
    .navigation-header{
        margin-top: -5rem;
    } 
    .span-slide .dot{
        margin-top: 8rem;
    }
    .formlogin{
        background-color: white;
        border: 2px solid black;
        border-radius: 30px;
        position: relative;
        margin-top: -4rem;
    }
    footer{
        position: relative;
        margin-top: 22rem;
    }
}

/* Handphone */
@media (max-width:768px){
    nav{
        width: auto;
        padding: 0rem 1rem;
    }
    main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main .content{
        width: auto;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        border: none;
    }
    .slidelogin{
        width: auto;
        height: 15rem;
        padding-bottom: 15rem;
    }
    .slide{
        width: auto;
        height: auto;
    }
    .slidelogin .slide img{
        width: 30rem;
        height: 15rem;
        border-radius: 20px;
    }
    .navigation-header{
        margin-top: -10rem;
    } 
    .span-slide .dot{
        margin-top: 3rem;
        margin-left: 0rem;
        padding: 5px;
    }
    .formlogin{
        border: 2px solid black;
        background-color: white;
        border-radius: 30px;
        position: relative;
        margin-top: -13rem;
    }
    footer{
        position: relative;
        margin-top: 12rem;
    }
}